body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
}

nav{ 
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    width: 100%;
    background-color:rgb(0, 51, 51);
    overflow: hidden;
    position: sticky;
    top: 0;
}

nav a{
    font-weight: lighter;
    float: left;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}

.logo {
    height: 50px;
}

nav a:hover{
    color: rgb(255, 102, 51);
}

.nav-midt{
    margin-top: 20px;
}

.bli-medlem{
    margin-top: 20px;
    background-color: rgb(255, 102, 51);
    border-radius: 10px;
    padding: 10px;
}

.bli-medlem:hover{
    color: rgb(0, 51, 51);
}





h1{
    font-size: 50px;
    color: rgb(0, 51, 51);
}

h2{
    font-size:25px;
    color:rgb(0, 102, 102);
    text-decoration: underline solid rgb(255, 102, 51);
}

.intro-p{
    font-size: 15px;
    padding-left: 30px;
    font-weight: lighter;
}





.form{
    background-color: rgba(0, 102, 102, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    margin-top: 50px;
}

form{
    font-size: 15px;
}

input{
    font-size: 15px;
    margin: 5px;
}

form textarea{
    font-size: 15px;
}

input[ type=text], textarea{
    width: 300px;
    outline: none;
    border: none;
    background-color: whitesmoke;
}

form label{
    margin-right: 20px;
    min-width: 70px;
    display: inline-block;
}


input[type=radio] + label {
    margin-right: 10px;
}

button{
    padding: 10px 18px;
    margin-top: 25px;
    background-color: rgb(255, 102, 51);
    border-radius: 10px;
    border-color: rgb(255, 102, 51);
    color: whitesmoke;
}

.button{
    color: whitesmoke;
    text-decoration: none;
}




.email-link{
    color: rgb(255, 102, 51);
}

.some-icon{
    height: 20px;
    padding: 10px;
}

.logo-footer{
    height: 100px;
    padding-top: 40px;
    padding-right: 20px;
}

footer{
    background-color: rgb(0, 51, 51);
    color: whitesmoke;
    margin-top: 70px;
}

.footer-p{
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.footer-container{
    display: grid;
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    padding-left: 100px;
}

.footer-li{
    background-color: rgb(0, 51, 51);
    display: grid;
    padding-bottom:10px;
}

.footer-li a{
    color: whitesmoke;
}

.footer-li a:hover{
    color:rgb(255, 102, 51);
}